// Colors

$card-color: #0C71C3;
$font-color: #fff;
$heading-underline: #7CDA24;

// Responsive

$md: 'only screen and (min-width: 320px)';
$lg: 'only screen and (min-width: 768px)';

// Layout
$max-container: 1080px;
