// Category Title

.luv-category-title {
  text-align: center;
  .luv-heading-underline {
    position: relative;
    margin: 0 auto 0 auto;
    &:before {
      content: "";
      position: absolute;
      height: 1px;
      width: 100%;
      left: -2%;
      border-bottom: 8px solid $heading-underline;
    }
  }
}

// Vendor card

.luv-vendor {
  &__details {
    background-color: $card-color;
    color: $font-color;
    text-align: center;
    padding: 30px 10px;
    address {
      font-style: normal;
    }
    a {
      color: $font-color;
      text-decoration: underline;
    }
    p {
      font-weight: 400;
    }
    &__title {
      font-size: 22px;
      color: $font-color;
    }
    &__phone, &__email, &__address, &__links, &__seemore {
      margin-bottom: 0;
      font-weight: bold !important;
    }
  }
}

@media #{$lg} {
  .luv-vendor__details {
    box-shadow: rgba(0,0,0,0.4) -4px 4px 5px;
  }
}

// Vendor page
// Remove featured image on vendor page
.nv-single-post-wrap.vendors.type-vendors.status-publish.has-post-thumbnail.hentry {
  img {
    display: none;
  }
}
