.luv-category-title {
  margin-bottom: 2rem;
}

.luv-vendors {
  display: grid;
  grid-template-columns: auto;
  .luv-vendor {
    margin-bottom: 1rem;
    &__image {
      display: flex;
      justify-content: center;
      margin-bottom: 0.5rem;
    }
  }
}

@media #{$lg} {
  .luv-container {
    max-width: $max-container; 
  }

  .luv-vendors {
    grid-template-columns: 49% 49%;
    column-gap: 2%;
    .luv-vendor {
      display: grid;
      grid-template-columns: auto 55%;
      &__image {
        display: block;
        align-self: center;
        position: relative;
        width: 150%;
        z-index: -1;
      }
    }
  }
}
