.luv-category-title {
  text-align: center;
  h2 {
    //position: relative;
    &:before {
      content: "";
      //position: absolute;
      height: 1px;
      bottom: 0;
      //width: 50%;
      //left: 25%;
      border-bottom: 8px solid $heading-underline;
    }
  }
}

.luv-heading-underline {
    border-top-color: $heading-underline;
    border-top-width: 8px;
    margin-top: 0;
}

.luv-vendors {
  display: grid;
  grid-template-columns: auto;
  .luv-vendor {
    margin-bottom: 1rem;
    &__image {
      display: flex;
      justify-content: center;
      margin-bottom: 0.5rem;
    }
    &__details {
      background-color: $card-color;
      color: $font-color;
      text-align: center;
      padding: 30px 10px;
      address {
        font-style: normal;
      }
      a {
        color: $font-color;
      }
      p {
        font-weight: 400;
      }
      &__title {
        font-size: 22px;
      }
      &__phone, &__email, &__address, &__links {
        margin-bottom: 0;
        font-weight: bold !important;
      }
    }
  }
}

@media #{$lg} {
  .luv-vendors {
    grid-template-columns: 50% 50%;
  }
}
